.App {
  #text-align: center;
}

.App-logo {
  height: 15vmin;
  width: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 15vh;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: solid;
}
.StatesContainer {
  background-color:beige;
  min-height:85vh;
  display: flex;
  flex-direction: row;
}
.State{
  max-width:50vw;
  flex-grow: 1;
  border-right: solid;
  justify-content: center;
  display:flex;
  font-size:25px;
  font-family: "Trebuchet MS", Arial, sans-serif;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
