.App {
  #text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 8vmin;
  width: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 15vh;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: solid;
}
.StatesContainer {
  background-color:beige;
  min-height: 85vh;
  flex-grow: 1;
  background-color:white;
  min-height:85vh;
  display: flex;
  flex-direction: row;
}
.State{
  max-width:50vw;
  flex-grow: 1;
  border-right: solid;
  display:flex;
  font-size:35px;
}

.title{
  text-align:center;
  justify-content: center;
  display: flex;
  gap: 5px;
  font-size:70px;
  font-family: "Trebuchet MS", Arial, sans-serif;

  align-items:end;
}
.center{
  position:absolute;
  text-align: left;
  justify-content: left;
  display:flex;
  gap: 5px;
  z-index:999;
  height:6vh;
  font-size:40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
