.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.header {
  background-color: #1e1e1e;
  height: 10vmin;
  color: #f00840;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header_title {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  width: auto;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1vmin;
}

.map_container {
  display: flex;
  justify-content: center;
  background-color: #333333;
  width: 33%;
  height: 100%;
}

.state_name {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #e6e6e6;
  font-size: 7vmin;
  color: #f00840;
  font-weight: bold;
  height: 10vmin;
}

.map_instructions {
  color: #f00840;
  background-color: #e6e6e6;
}

.State{
  max-width:50vw;
  flex-grow: 1;
  border-right: solid;
  display:flex;
  font-size:35px;
}

.title{
  text-align:center;
  justify-content: center;
  display: flex;
  gap: 5px;
  font-size:65px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
.center{
  position:absolute;
  text-align: left;
  justify-content: left;
  display:flex;
  gap: 5px;
  z-index:999;
  height:6vh;
  font-size:40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.App-link {
  color: #61dafb;
}

.slideshow {
  align-items: center;
}

.slide {
  height: 400px;
  display: flex;
  width: 95%;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.arrow {
  width: 5%;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  opacity: 20%;
}

.arrow:hover {
  opacity: 50%;
}

.toggle_container {
  background-color: #e6e6e6;
}

.toggle_button {
  color: #f00840;
  background-color: #666666;
  font-weight: bold;
  border-style: none;
  border-radius: 5%;
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

#larrow {
  transform: scaleX(-1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.legend {
  background: rgb(252,251,253);
  background: linear-gradient(0deg, rgba(252,251,253,1) 0%, rgba(63,0,125,1) 100%);
  margin-top: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  display: flex;
}
.react-data-table-component .data-table-title {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

[data-column-id="margin"].rdt_TableCol {
  background-color: white;
  width: 80%;
}

[data-column-id="races"].rdt_TableCol {
  background-color: white;

}
[data-column-id="party"].rdt_TableCol {
  background-color: white;
}

[data-column-id="district"].rdt_TableCol {
  background-color: white;
}
[data-column-id="name"].rdt_TableCol {
  background-color: white;
}

[data-column-id="img"].rdt_TableCol {
  background-color: white;
}

.apexcharts-scatter-series .apexcharts-marker {
  width: 30px !important; /* Adjust the width */
  height: 30px !important; /* Adjust the height */
}